<h1>Burgers!</h1>

<h2>Eat-Da-Burger!</h2>
<div class="container">
    <div class="row col-4">
        <ul>
            {{#each burgers}}
            <div>
                <form action="/burgers/{{id}}?_method=PUT" method="POST">
                    <button type="submit" class='burger'> {{burger_name}}</button>
                </form>
            </div>
            {{/each}}
        </ul>
    </div>

</div>
</div>


<div class="row">
    <div class="col 12">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="yummy Burger">
            <button type="submit" class="addBurger">Add Burger</button>
        </form>
    </div>
</div>
</div>